# Configuração da API
PORT=3000
NODE_ENV=development

# Banco de dados PostgreSQL
POSTGRES_DB=technova
POSTGRES_USER=technova
POSTGRES_PASSWORD=ALTERE_ESTA_SENHA

# Conexão (usados pelo container da API)
DB_HOST=postgres
DB_PORT=5432
DB_SSL=false
